# Dataset paths. Replace these with valid paths
DATASET_ROOT=/path/event-localizer/dataset
TAKE_VIDEO_SUBDIR=frame_aligned_videos

#xlsx workbook having a sheet named "Takes" which includes a column named "take_name" and
#contains a list of take ids like "take_001", "take_002", and so on
TAKE_MANIFEST_XLSX=/path/event-localizer/dataset/takes.xlsx
TAKE_MANIFEST_SHEET=Takes

ANNOTATION_FILE=/path/event-localizer/annotations/annotations.json
EVENT_CONFIG_FILE=./config/events.json

# Startup-selected theme. Supported values: light, dark.
APP_THEME=dark

# Configured logical views. Supported IDs: ego, view1, view2, view3, view4.
VIDEO_NUMBER_OF_VIEWS=3
VIDEO_VIEW_ORDER=view3,ego,view1,
VIDEO_FILENAME_EGO=egoView.mp4
VIDEO_FILENAME_VIEW1=cam01.mp4
VIDEO_FILENAME_VIEW2=cam02.mp4
VIDEO_FILENAME_VIEW3=cam03.mp4
VIDEO_FILENAME_VIEW4=cam04.mp4
